<Configuration Product="ProPlus">

	<Display Level="none" CompletionNotice="no" SuppressModal="yes" AcceptEula="yes" />
	
	<!-- <Logging Type="standard" Path="%temp%" Template="Microsoft Office Professional Plus Setup(*).txt" /> -->

	<!-- <USERNAME Value="Customer" /> -->
	
	<!-- <COMPANYNAME Value="MyCompany" /> -->
	
	<!-- <INSTALLLOCATION Value="%programfiles%\Microsoft Office" /> -->
	
	<!-- <LIS CACHEACTION="CacheOnly" /> -->
	
	<!-- <LIS SOURCELIST="\\server1\share\Office;\\server2\share\Office" /> -->
	
	<!-- <DistributionPoint Location="\\server\share\Office" /> -->
	
	<!-- <OptionState Id="OptionID" State="absent" Children="force" /> -->
	
	<Setting Id="SETUP_REBOOT" Value="Never" />
	<Setting Id="REBOOT" Value="ReallySuppress" />
	
	<!-- <Command Path="%windir%\system32\msiexec.exe" Args="/i \\server\share\my.msi" QuietArg="/q" ChainPosition="after" Execute="install" /> -->

</Configuration>
